@font-face {
    font-family: "jokerman-2";
    src: url(font/jokerman-2.ttf);
}

#bandeauTitre{
    height: 200 px;
    background-image: url("img/background-titre.jpg");
    background-size: cover;
    font-family: "jokerman-2",'Courier New', Courier, monospace;

}

#inputCity{
    height: 150px;
}
.encadre{
    padding: 2px;
    border:2px solid black;
}
#boussole{
    background-image: url("img/boussole.svg");
    background-repeat: no-repeat;
    background-position: 50%;
}